ejercicio5 (1).json
[
    {
        "id": "3625e6da9ba8f0bd",
        "type": "tab",
        "label": "Ejercicio Unificado Clase 5",
        "disabled": false
    },
    {
        "id": "74891827e5352957",
        "type": "inject",
        "z": "3625e6da9ba8f0bd",
        "name": "Hola! Timestamp",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [["dd7d66c257bc6bb1"]]
    },
    {
        "id": "dd7d66c257bc6bb1",
        "type": "function",
        "z": "3625e6da9ba8f0bd",
        "name": "random",
        "func": "msg.payload = Math.floor(Math.random() * 100);\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 100,
        "wires": [["901b97fb043161bf", "40135ed6ed581232", "338183f73cf875a9"]]
    },
    {
        "id": "901b97fb043161bf",
        "type": "ui_chart",
        "z": "3625e6da9ba8f0bd",
        "name": "Chart Línea Simple",
        "group": "d95ff65abe8ba295",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Chart:",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "40135ed6ed581232",
        "type": "ui_gauge",
        "z": "3625e6da9ba8f0bd",
        "name": "Gauge Principal",
        "group": "d95ff65abe8ba295",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge:",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "338183f73cf875a9",
        "type": "ui_text",
        "z": "3625e6da9ba8f0bd",
        "group": "d95ff65abe8ba295",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Number Display",
        "label": "Number:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "7ab1933c528aa781",
        "type": "inject",
        "z": "3625e6da9ba8f0bd",
        "name": "x timestamp",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "topic": "x",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 360,
        "wires": [["b9ec4cad4f901c41"]]
    },
    {
        "id": "b9ec4cad4f901c41",
        "type": "function",
        "z": "3625e6da9ba8f0bd",
        "name": "x",
        "func": "msg.payload = Math.floor(Math.random() * 30);\nreturn msg;",
        "outputs": 1,
        "x": 290,
        "y": 360,
        "wires": [["c16f00926bc415e9"]]
    },
    {
        "id": "a3cc8bfa3241409b",
        "type": "inject",
        "z": "3625e6da9ba8f0bd",
        "name": "y timestamp",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "topic": "y",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 420,
        "wires": [["98c69a54e9835e51"]]
    },
    {
        "id": "98c69a54e9835e51",
        "type": "function",
        "z": "3625e6da9ba8f0bd",
        "name": "y",
        "func": "msg.payload = Math.floor(Math.random() * 30);\nreturn msg;",
        "outputs": 1,
        "x": 290,
        "y": 420,
        "wires": [["c16f00926bc415e9"]]
    },
    {
        "id": "60eb11acbc12f0b0",
        "type": "inject",
        "z": "3625e6da9ba8f0bd",
        "name": "z timestamp",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "topic": "z",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 480,
        "wires": [["6083420d07e81ca0"]]
    },
    {
        "id": "6083420d07e81ca0",
        "type": "function",
        "z": "3625e6da9ba8f0bd",
        "name": "z",
        "func": "msg.payload = Math.floor(Math.random() * 30);\nreturn msg;",
        "outputs": 1,
        "x": 290,
        "y": 480,
        "wires": [["c16f00926bc415e9"]]
    },
    {
        "id": "c16f00926bc415e9",
        "type": "ui_chart",
        "z": "3625e6da9ba8f0bd",
        "name": "Chart Multi-línea",
        "group": "d95ff65abe8ba295",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "30",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4","#aec7e8","#ff7f0e"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 420,
        "wires": [[]]
    },
    {
        "id": "77f51735ca5cad49",
        "type": "inject",
        "z": "3625e6da9ba8f0bd",
        "name": "Mayor a 50",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "60",
        "payloadType": "num",
        "x": 130,
        "y": 600,
        "wires": [["ac75712ab080155d"]]
    },
    {
        "id": "9d4814010d433065",
        "type": "inject",
        "z": "3625e6da9ba8f0bd",
        "name": "Menor a 15",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 130,
        "y": 660,
        "wires": [["ac75712ab080155d"]]
    },
    {
        "id": "ac75712ab080155d",
        "type": "switch",
        "z": "3625e6da9ba8f0bd",
        "name": "switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {"t": "gt", "v": "50", "vt": "num"},
            {"t": "lt", "v": "15", "vt": "num"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 630,
        "wires": [["2c4a8fd0a43d173f"], ["166a39b38d290597"]]
    },
    {
        "id": "2c4a8fd0a43d173f",
        "type": "change",
        "z": "3625e6da9ba8f0bd",
        "name": "set msg payload verde",
        "rules": [{"t": "set", "p": "payload", "pt": "msg", "to": "#00ff00", "tot": "str"}],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 600,
        "wires": [["b6bae57fa1ac8684"]]
    },
    {
        "id": "166a39b38d290597",
        "type": "change",
        "z": "3625e6da9ba8f0bd",
        "name": "set msg payload rojo",
        "rules": [{"t": "set", "p": "payload", "pt": "msg", "to": "#ff0000", "tot": "str"}],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 660,
        "wires": [["b6bae57fa1ac8684"]]
    },
    {
        "id": "b6bae57fa1ac8684",
        "type": "ui_led",
        "z": "3625e6da9ba8f0bd",
        "order": 4,
        "group": "d95ff65abe8ba295",
        "width": 0,
        "height": 0,
        "label": "LED Alarma",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {"color": "#ff0000", "value": "#ff0000", "valueType": "str"},
            {"color": "#00ff00", "value": "#00ff00", "valueType": "str"}
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 710,
        "y": 630,
        "wires": []
    },
    {
        "id": "77afee877ebe0bf7",
        "type": "ui_button",
        "z": "3625e6da9ba8f0bd",
        "name": "Button",
        "group": "d95ff65abe8ba295",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "BUTTON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "x": 140,
        "y": 780,
        "wires": [[]]
    },
    {
        "id": "533241a68c67b43e",
        "type": "ui_switch",
        "z": "3625e6da9ba8f0bd",
        "name": "Switch",
        "label": "Switch",
        "tooltip": "",
        "group": "d95ff65abe8ba295",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 130,
        "y": 840,
        "wires": [[]]
    },
    {
        "id": "c2375cb0b3a5cf0c",
        "type": "ui_slider",
        "z": "3625e6da9ba8f0bd",
        "name": "Slider",
        "label": "Slider",
        "tooltip": "",
        "group": "d95ff65abe8ba295",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 130,
        "y": 900,
        "wires": [[]]
    },
    {
        "id": "4fd48c8f66c79a13",
        "type": "ui_numeric",
        "z": "3625e6da9ba8f0bd",
        "name": "Numeric",
        "label": "Numeric",
        "tooltip": "",
        "group": "d95ff65abe8ba295",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 140,
        "y": 960,
        "wires": [[]]
    },
    {
        "id": "8b1842766f7f5a79",
        "type": "ui_text_input",
        "z": "3625e6da9ba8f0bd",
        "name": "Text Input",
        "label": "Text Input",
        "tooltip": "",
        "group": "d95ff65abe8ba295",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "x": 150,
        "y": 1020,
        "wires": [[]]
    },
    {
        "id": "13ed1d63c5f85f6b",
        "type": "ui_date_picker",
        "z": "3625e6da9ba8f0bd",
        "name": "Date",
        "label": "Date",
        "group": "d95ff65abe8ba295",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "x": 130,
        "y": 1080,
        "wires": [[]]
    },
    {
        "id": "d95ff65abe8ba295",
        "type": "ui_group",
        "name": "Ejercicio 5 Unificado",
        "tab": "f477a97f88b240ef",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f477a97f88b240ef",
        "type": "ui_tab",
        "name": "Ejercicio5",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]