Markdown.json
[
    {
        "id": "39f4af660e2c93fc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d828c8e2bbe5a1c7",
        "type": "group",
        "z": "39f4af660e2c93fc",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffC000",
            "label": true
        },
        "nodes": [
            "7cb7fb0303c5b0d0",
            "3391c1318ed82dc8"
        ],
        "x": 174,
        "y": 59,
        "w": 472,
        "h": 162
    },
    {
        "id": "1a4bbb11e8e6d00c",
        "type": "group",
        "z": "39f4af660e2c93fc",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#7fb7df",
            "label": true
        },
        "nodes": [
            "326a1e8415c1bf75",
            "847b5a45a6258d57",
            "ba80f06c64323b89",
            "d32d2794335b5662",
            "96c4b0365cc6105f"
        ],
        "x": 94,
        "y": 559,
        "w": 712,
        "h": 182
    },
    {
        "id": "7546c2f292daa09e",
        "type": "group",
        "z": "39f4af660e2c93fc",
        "name": "",
        "style": {
            "stroke": "#000000",
            "label": true,
            "color": "#000000",
            "fill": "#c8e7a7"
        },
        "nodes": [
            "9ee131192e3b4112",
            "ae8d22ac90acda10",
            "541c390199955dc9",
            "ffd3bc7a449af984",
            "1ac7bffbb7f8e3fa",
            "btn_go_group2"
        ],
        "x": 84,
        "y": 259,
        "w": 762,
        "h": 242
    },
    {
        "id": "ui_base_markdown_project",
        "type": "ui-base",
        "name": "Dashboard Markdown",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-template",
            "ui-form",
            "ui-audio",
            "ui-markdown",
            "ui-progress",
            "ui-gauge",
            "ui-chart",
            "ui-table",
            "ui-text",
            "ui-switch",
            "ui-slider",
            "ui-radio-group",
            "ui-dropdown",
            "ui-button-group",
            "ui-button",
            "ui-file-input",
            "ui-number-input",
            "ui-text-input"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 3,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "page_markdown_home",
        "type": "ui-page",
        "name": "Proyecto - Markdown 1",
        "ui": "ui_base_markdown_project",
        "path": "/page1",
        "icon": "home",
        "layout": "notebook",
        "theme": "theme_default_markdown_project",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "page_group_1",
        "type": "ui-page",
        "name": "Grupo 1",
        "ui": "ui_base_markdown_project",
        "path": "/page2",
        "icon": "thermometer-lines",
        "layout": "notebook",
        "theme": "theme_default_markdown_project",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "page_group_2",
        "type": "ui-page",
        "name": "Grupo 2",
        "ui": "ui_base_markdown_project",
        "path": "/page3",
        "icon": "router-network-wireless",
        "layout": "notebook",
        "theme": "theme_default_markdown_project",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "group_markdown_home",
        "type": "ui-group",
        "name": "Contenido Markdown",
        "page": "page_markdown_home",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group_random_1",
        "type": "ui-group",
        "name": "Grupo 1",
        "page": "page_group_1",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group_random_2",
        "type": "ui-group",
        "name": "Grupo 2",
        "page": "page_group_2",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "theme_default_markdown_project",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "8px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ui-theme-dark",
        "type": "ui-theme",
        "name": "Dark Cyberpunk",
        "colors": {
            "primary": "#00f0ff",
            "bgPage": "#0f172a",
            "bgGroup": "#1e293b",
            "text": "#f8fafc"
        }
    },
    {
        "id": "ui-page-home",
        "type": "ui-page",
        "z": "39f4af660e2c93fc",
        "name": "Monitoreo Principal",
        "ui": "ui_base_markdown_project",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "ui-theme-dark",
        "order": 1
    },
    {
        "id": "ui-group-sensors",
        "type": "ui-group",
        "z": "39f4af660e2c93fc",
        "name": "Telemetría en Tiempo Real",
        "page": "ui-page-home",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true
    },
    {
        "id": "ui-group-charts",
        "type": "ui-group",
        "z": "39f4af660e2c93fc",
        "name": "Histórico y Tendencias",
        "page": "ui-page-home",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true
    },
    {
        "id": "ui-group-controls",
        "type": "ui-group",
        "z": "39f4af660e2c93fc",
        "name": "Controles del Sistema",
        "page": "ui-page-home",
        "width": "12",
        "height": "1",
        "order": 3,
        "showTitle": true
    },
    {
        "id": "7cb7fb0303c5b0d0",
        "type": "ui-markdown",
        "z": "39f4af660e2c93fc",
        "g": "d828c8e2bbe5a1c7",
        "group": "group_markdown_home",
        "name": "Markdown Moderno",
        "order": 1,
        "width": "12",
        "height": "9",
        "content": "# UTMACH Dashboard\n\n### FlowFuse Dashboard 2.0\n\nBienvenido al sistema de demostración construido con Node-RED y Dashboard 2.0.\n\n---\n\n## Características\n\n- Navegación entre páginas\n- Widgets dinámicos\n- Gauge interactivo\n- Valores aleatorios en tiempo real\n- Diseño responsive\n\n---\n\n## Accesos rápidos\n\n### Grupo 1\nMonitoreo de temperatura aleatoria.\n\n[Ir a Grupo 1](/dashboard/page2)\n\n---\n\n### Grupo 2\nVisualización Gauge en tiempo real.\n\n[Ir a Grupo 2](/dashboard/page3)",
        "className": "modern-markdown",
        "x": 360,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "326a1e8415c1bf75",
        "type": "ui-button",
        "z": "39f4af660e2c93fc",
        "g": "1a4bbb11e8e6d00c",
        "group": "group_random_2",
        "name": "Return Home",
        "label": "Return Home",
        "order": 2,
        "width": "3",
        "height": "1",
        "tooltip": "Regresar",
        "className": "modern-button",
        "icon": "home",
        "iconPosition": "left",
        "payload": "{\"page\":\"Proyecto - Markdown 1\"}",
        "payloadType": "json",
        "topic": "navigate",
        "topicType": "str",
        "x": 270,
        "y": 700,
        "wires": [
            [
                "96c4b0365cc6105f"
            ]
        ]
    },
    {
        "id": "847b5a45a6258d57",
        "type": "ui-gauge",
        "z": "39f4af660e2c93fc",
        "g": "1a4bbb11e8e6d00c",
        "name": "Gauge Moderno",
        "group": "group_random_2",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "5",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Valor aleatorio",
        "units": "%",
        "icon": "router-network-wireless",
        "segments": [
            {
                "from": "0",
                "color": "#22c55e",
                "text": "Bajo",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#facc15",
                "text": "Medio",
                "textType": "label"
            },
            {
                "from": "75",
                "color": "#ef4444",
                "text": "Alto",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 10,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": true,
        "className": "modern-gauge",
        "x": 700,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3391c1318ed82dc8",
        "type": "comment",
        "z": "39f4af660e2c93fc",
        "g": "d828c8e2bbe5a1c7",
        "name": "Proyecto Dashboard Markdown - FlowFuse Dashboard 2.0",
        "info": "Página 1: Markdown principal. Página 2: valor aleatorio con nodo random. Página 3: gauge aleatorio con nodo random. Navegación interna con enlaces Markdown y ui-control.",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "ba80f06c64323b89",
        "type": "inject",
        "z": "39f4af660e2c93fc",
        "g": "1a4bbb11e8e6d00c",
        "name": "timestamp - Grupo 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "Gauge aleatorio",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 600,
        "wires": [
            [
                "d32d2794335b5662"
            ]
        ]
    },
    {
        "id": "d32d2794335b5662",
        "type": "random",
        "z": "39f4af660e2c93fc",
        "g": "1a4bbb11e8e6d00c",
        "name": "random",
        "low": "0",
        "high": "100",
        "inte": "false",
        "property": "payload",
        "x": 470,
        "y": 600,
        "wires": [
            [
                "847b5a45a6258d57"
            ]
        ]
    },
    {
        "id": "96c4b0365cc6105f",
        "type": "ui-control",
        "z": "39f4af660e2c93fc",
        "g": "1a4bbb11e8e6d00c",
        "name": "ui control - Navegación",
        "ui": "ui_base_markdown_project",
        "events": "all",
        "x": 520,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "9ee131192e3b4112",
        "type": "ui-text",
        "z": "39f4af660e2c93fc",
        "g": "7546c2f292daa09e",
        "group": "group_random_1",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Grupo 1 - Valor aleatorio",
        "label": "Valor generado:",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 20,
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "ae8d22ac90acda10",
        "type": "ui-button",
        "z": "39f4af660e2c93fc",
        "g": "7546c2f292daa09e",
        "group": "group_random_1",
        "name": "Return Home",
        "label": "Return Home",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Regresar",
        "className": "modern-button",
        "icon": "home",
        "iconPosition": "left",
        "payload": "{\"page\":\"Proyecto - Markdown 1\"}",
        "payloadType": "json",
        "topic": "navigate",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 240,
        "y": 380,
        "wires": [
            [
                "ffd3bc7a449af984"
            ]
        ]
    },
    {
        "id": "541c390199955dc9",
        "type": "inject",
        "z": "39f4af660e2c93fc",
        "g": "7546c2f292daa09e",
        "name": "timestamp - Grupo 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "Temperatura aleatoria",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "1ac7bffbb7f8e3fa"
            ]
        ]
    },
    {
        "id": "ffd3bc7a449af984",
        "type": "ui-control",
        "z": "39f4af660e2c93fc",
        "g": "7546c2f292daa09e",
        "name": "ui control - Navegación",
        "ui": "ui_base_markdown_project",
        "events": "all",
        "x": 500,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1ac7bffbb7f8e3fa",
        "type": "random",
        "z": "39f4af660e2c93fc",
        "g": "7546c2f292daa09e",
        "name": "random",
        "low": "20",
        "high": "35",
        "inte": "false",
        "property": "payload",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "9ee131192e3b4112"
            ]
        ]
    },
    {
        "id": "btn_go_group2",
        "type": "ui-button",
        "z": "39f4af660e2c93fc",
        "g": "7546c2f292daa09e",
        "group": "group_random_1",
        "name": "Ir a Grupo 2",
        "label": "Siguiente Página",
        "order": 3,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Abrir Grupo 2",
        "className": "",
        "icon": "arrow-right-bold",
        "iconPosition": "right",
        "payload": "{\"page\":\"Grupo 2\"}",
        "payloadType": "json",
        "topic": "navigate",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "ffd3bc7a449af984"
            ]
        ]
    },
    {
        "id": "6cc698db90fd4348",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-node-random": "0.4.1"
        }
    }
]